node-red/.flow.json.backup
[{"id":"cec27abe.c7a808","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4f8c3efa.00b7f","type":"JsonWebToken_config","name":"auth","secret":"sdjs9fj23fj20fjsjklb3b3n3j3j3"},{"id":"4269508.6c10db","type":"socketio-config","port":"3061","sendClient":"true","path":"/socket.io","bindToNode":false},{"id":"5df4d380.4530bc","type":"socket.io-instance","name":"connected","bindToNode":false,"port":"3061","options":""},{"id":"c82c7ece.d58df","type":"http in","z":"cec27abe.c7a808","name":"Fetch Users","url":"/api/users","method":"get","upload":false,"swaggerDoc":"","x":90,"y":220,"wires":[["3a9dddcf.40ff62"]]},{"id":"2761c6ce.e76d7a","type":"http in","z":"cec27abe.c7a808","name":"Create new user","url":"/api/users","method":"post","upload":false,"swaggerDoc":"","x":100,"y":380,"wires":[["41cfa6ed.256358"]]},{"id":"68134a1f.ac0544","type":"file in","z":"cec27abe.c7a808","name":"Data","filename":"./node-red/stubs/users.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":510,"y":380,"wires":[["eaf8b54b.2943b8"]]},{"id":"eaf8b54b.2943b8","type":"json","z":"cec27abe.c7a808","name":"","property":"payload","action":"","pretty":false,"x":630,"y":380,"wires":[["8e04fc1a.507f"]]},{"id":"8e04fc1a.507f","type":"delay","z":"cec27abe.c7a808","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"1","randomUnits":"seconds","drop":false,"x":760,"y":380,"wires":[["955e1195.cb943"]]},{"id":"d1eabb6a.5b9608","type":"http response","z":"cec27abe.c7a808","name":"","statusCode":"200","headers":{},"x":1380,"y":380,"wires":[]},{"id":"955e1195.cb943","type":"function","z":"cec27abe.c7a808","name":"","func":"const body = msg.req.body;\n\nconst exists = msg.payload.findIndex(user => user.email === body.email);\n\nif(exists > -1) {\n    msg.payload = {\n        err: {\n            el: 'Το email υπάρχει ήδη.',\n            en: 'This email already exists.'\n        }\n    }\n    return msg;\n} \n\n\nmsg.payload.push({\n    id: msg.payload.length + 1,\n    email: body.email,\n    firstName: body.firstName,\n    lastName: body.lastName,\n    password: body.password\n})\n\nconst connectedSocketUsers = global.get(\"ConnectedSocketUsers\");\nconnectedSocketUsers.map(user =>user.socket.emit('refresh-users'));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":380,"wires":[["f8ed4840.316e38"]]},{"id":"2a7f922e.fd93be","type":"file","z":"cec27abe.c7a808","name":"Update file","filename":"./node-red/stubs/users.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1170,"y":400,"wires":[["d1eabb6a.5b9608","51f3c8ef.52aab8"]]},{"id":"3a9dddcf.40ff62","type":"function","z":"cec27abe.c7a808","name":"","func":"msg.token = msg.req.headers.authorization\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":220,"wires":[["41360c08.7f7c94"]]},{"id":"41360c08.7f7c94","type":"jwt verify on demand","z":"cec27abe.c7a808","name":"Auth","alg":["HS256"],"jwkurl":"","secret":"sdjs9fj23fj20fjsjklb3b3n3j3j3","key":"","signvar":"token","storetoken":"token","x":370,"y":220,"wires":[["24d17284.e5fcbe"]]},{"id":"c5e930f1.e6f3","type":"catch","z":"cec27abe.c7a808","name":"Auth error catch","scope":["41360c08.7f7c94","bc14283.c8589d8","9522b2ec.5b61a","f10d6f44.ee87f","efaff193.1c505","7ca2a36c.3fb59c","d4707141.ff688"],"uncaught":false,"x":100,"y":60,"wires":[["99e443ab.60fd5"]]},{"id":"99e443ab.60fd5","type":"http response","z":"cec27abe.c7a808","name":"Unauthorized ","statusCode":"401","headers":{},"x":290,"y":60,"wires":[]},{"id":"24d17284.e5fcbe","type":"file in","z":"cec27abe.c7a808","name":"Data","filename":"./node-red/stubs/users.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":490,"y":220,"wires":[["38b03892.4d0888"]]},{"id":"38b03892.4d0888","type":"json","z":"cec27abe.c7a808","name":"","property":"payload","action":"","pretty":false,"x":610,"y":220,"wires":[["5e717284.c1fbdc"]]},{"id":"5e717284.c1fbdc","type":"delay","z":"cec27abe.c7a808","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"1","randomUnits":"seconds","drop":false,"x":740,"y":220,"wires":[["32f1c54b.03c0da"]]},{"id":"c99ba55e.ec1cc8","type":"http response","z":"cec27abe.c7a808","name":"","statusCode":"200","headers":{},"x":1020,"y":220,"wires":[]},{"id":"32f1c54b.03c0da","type":"function","z":"cec27abe.c7a808","name":"","func":"const page = msg.req.query.page || 1;\nconst limit = msg.req.query.limit || 10;\nconst userId = msg.req.query.userId;\nconst userFirstName = msg.req.query.userFirstName;\nconst userLastName = msg.req.query.userLastName;\nconst userEmail = msg.req.query.userEmail;\n\nlet rows = msg.payload;\nif(userId) {\n    rows = rows.filter(row => row.id.toString().includes(userId));\n}\n\nif(userFirstName) {\n    rows = rows.filter(row => row.firstName.toString().includes(userFirstName));\n}\n\nif(userLastName) {\n    rows = rows.filter(row => row.lastName.toString().includes(userLastName));\n}\n\nif(userEmail) {\n    rows = rows.filter(row => row.email.toString().includes(userEmail));\n}\nconst count = rows.length;\n\nrows = rows.slice((page-1) * limit, page * limit);\n\nrows = rows.map(row => {\n    delete row.password;\n    return row;\n})\n\nmsg.payload = {rows, count };\n\n\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":220,"wires":[["c99ba55e.ec1cc8"]]},{"id":"a2b4b013.3d35","type":"http in","z":"cec27abe.c7a808","name":"Auth","url":"/api/auth","method":"post","upload":false,"swaggerDoc":"","x":70,"y":280,"wires":[["7dfe2003.6e65c"]]},{"id":"7dfe2003.6e65c","type":"file in","z":"cec27abe.c7a808","name":"Data","filename":"./node-red/stubs/users.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":190,"y":280,"wires":[["db746196.db47e"]]},{"id":"db746196.db47e","type":"json","z":"cec27abe.c7a808","name":"","property":"payload","action":"","pretty":false,"x":310,"y":280,"wires":[["9be15383.9c569"]]},{"id":"aca39b45.27c728","type":"http response","z":"cec27abe.c7a808","name":"","statusCode":"200","headers":{},"x":940,"y":280,"wires":[]},{"id":"28bc32a4.1bff0e","type":"function","z":"cec27abe.c7a808","name":"","func":"delete msg.user.password;\nmsg.payload = {token: msg.token, user: msg.user};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":280,"wires":[["aca39b45.27c728"]]},{"id":"9be15383.9c569","type":"function","z":"cec27abe.c7a808","name":"Match Credentials","func":"const body = msg.req.body;\nconst rows = msg.payload;\n\nconst findUser = rows.find(row => row.email === body.email);\n\nif(!findUser || findUser.password !== body.password){\n    throw new Error();\n}\n\nconst timestamp = new Date().getTime();\n\nmsg.payload = {\n    sub: findUser.email,\n    iat: timestamp,\n};\n\nmsg.user = findUser;\n\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":280,"wires":[["dbb282d8.758d"]]},{"id":"dbb282d8.758d","type":"jwt sign","z":"cec27abe.c7a808","name":"Sign Token","alg":"HS256","exp":3600,"jwkurl":"","jwkkid":"","secret":"sdjs9fj23fj20fjsjklb3b3n3j3j3","key":"","signvar":"payload","storetoken":"token","x":650,"y":280,"wires":[["28bc32a4.1bff0e"]]},{"id":"6aa7fdd5.84ad44","type":"catch","z":"cec27abe.c7a808","name":"Login error catch","scope":["41360c08.7f7c94","9be15383.9c569","dbb282d8.758d"],"uncaught":false,"x":100,"y":100,"wires":[["8cfd4f0.1d6a0b"]]},{"id":"f3aca75a.0df1c8","type":"http response","z":"cec27abe.c7a808","name":"Unauthorized ","statusCode":"401","headers":{},"x":450,"y":100,"wires":[]},{"id":"8cfd4f0.1d6a0b","type":"function","z":"cec27abe.c7a808","name":"","func":"delete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":100,"wires":[["f3aca75a.0df1c8"]]},{"id":"7c4ead10.3a88f4","type":"http in","z":"cec27abe.c7a808","name":"Edit User","url":"/api/users/:id","method":"put","upload":false,"swaggerDoc":"","x":80,"y":520,"wires":[["5da6c96b.4bd338"]]},{"id":"e4ecb71e.2481d8","type":"file in","z":"cec27abe.c7a808","name":"Data","filename":"./node-red/stubs/users.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":520,"wires":[["ae22426d.5205e"]]},{"id":"ae22426d.5205e","type":"json","z":"cec27abe.c7a808","name":"","property":"payload","action":"","pretty":false,"x":590,"y":520,"wires":[["220274d2.77475c"]]},{"id":"220274d2.77475c","type":"delay","z":"cec27abe.c7a808","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"1","randomUnits":"seconds","drop":false,"x":720,"y":520,"wires":[["8f58e78e.c44878"]]},{"id":"6a7367cd.3bbb68","type":"http response","z":"cec27abe.c7a808","name":"","statusCode":"200","headers":{},"x":1300,"y":560,"wires":[]},{"id":"8f58e78e.c44878","type":"function","z":"cec27abe.c7a808","name":"","func":"const id = msg.req.params.id;\nconst body = msg.req.body;\n\nconst userIndex = msg.payload.findIndex(user => Number(user.id) === Number(id));\nconst user = msg.payload[userIndex];\n\nif(!user) {\n    msg.err = 'NO_USER';\n    delete msg.payload;\n    return msg;\n}\n   \nif(user.email !== body.email) {\n    const exists = msg.payload.findIndex(user => user.email === body.email);\n\n    if(exists) {\n        msg.payload = {\n            err: {\n                el: 'Το email υπάρχει ήδη.',\n                en: 'This email already exists.'\n            }\n        }\n        return msg;\n    } \n}\n\nmsg.payload[userIndex] = {\n    id: user.id,\n    email: body.email,\n    firstName: body.firstName,\n    lastName: body.lastName,\n    password: body.password || user.password\n}\n\nconst connectedSocketUsers = global.get(\"ConnectedSocketUsers\");\nconnectedSocketUsers.map(cUser => {\n    cUser.socket.emit('refresh-users')\n    cUser.socket.emit(`refresh-users-${user.id}`)\n});\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":520,"wires":[["b8ec0938.bf6088"]]},{"id":"900c14ea.bfc018","type":"file","z":"cec27abe.c7a808","name":"Update file","filename":"./node-red/stubs/users.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1150,"y":560,"wires":[["6a7367cd.3bbb68"]]},{"id":"f8ed4840.316e38","type":"switch","z":"cec27abe.c7a808","name":"","property":"payload.err","propertyType":"msg","rules":[{"t":"neq","v":"undefined","vt":"jsonata"},{"t":"eq","v":"undefined","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":380,"wires":[["956272ea.a705c"],["2a7f922e.fd93be"]]},{"id":"956272ea.a705c","type":"http response","z":"cec27abe.c7a808","name":"User Exist","statusCode":"400","headers":{},"x":1170,"y":360,"wires":[]},{"id":"b8ec0938.bf6088","type":"switch","z":"cec27abe.c7a808","name":"","property":"payload.err","propertyType":"msg","rules":[{"t":"eq","v":"NO_USER","vt":"str"},{"t":"neq","v":"undefined","vt":"jsonata"},{"t":"eq","v":"undefined","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":3,"x":990,"y":520,"wires":[["97df13d4.c3de6"],["b4f27258.4a4d"],["900c14ea.bfc018"]]},{"id":"97df13d4.c3de6","type":"http response","z":"cec27abe.c7a808","name":"No User","statusCode":"422","headers":{},"x":1140,"y":480,"wires":[]},{"id":"b4f27258.4a4d","type":"http response","z":"cec27abe.c7a808","name":"User Exist","statusCode":"400","headers":{},"x":1150,"y":520,"wires":[]},{"id":"56886d27.9b4d74","type":"http in","z":"cec27abe.c7a808","name":"Delete User","url":"/api/users/:id","method":"delete","upload":false,"swaggerDoc":"","x":90,"y":660,"wires":[["dcc7c020.205fd"]]},{"id":"414e95bb.14063c","type":"file in","z":"cec27abe.c7a808","name":"Data","filename":"./node-red/stubs/users.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":490,"y":660,"wires":[["45af3aa5.8de454"]]},{"id":"45af3aa5.8de454","type":"json","z":"cec27abe.c7a808","name":"","property":"payload","action":"","pretty":false,"x":610,"y":660,"wires":[["26937645.bf22fa"]]},{"id":"26937645.bf22fa","type":"delay","z":"cec27abe.c7a808","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"1","randomUnits":"seconds","drop":false,"x":740,"y":660,"wires":[["e2a46b73.c058d8"]]},{"id":"ac8492a0.c02ea","type":"http response","z":"cec27abe.c7a808","name":"","statusCode":"200","headers":{},"x":1320,"y":680,"wires":[]},{"id":"e2a46b73.c058d8","type":"function","z":"cec27abe.c7a808","name":"","func":"const id = msg.req.params.id;\n\nconst userIndex = msg.payload.findIndex(user => Number(user.id) === Number(id));\nconst user = msg.payload[userIndex];\n\nif(!user) {\n    msg.payload.err = 'NO_USER';\n    return msg;\n}\n\nmsg.payload.splice(userIndex, 1);\n\nconst connectedSocketUsers = global.get(\"ConnectedSocketUsers\");\nconnectedSocketUsers.map(cUser => {\n    cUser.socket.emit('refresh-users')\n    cUser.socket.emit(`refresh-users-delete-${user.id}`)\n});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":660,"wires":[["5dd7b78c.425d58"]]},{"id":"7aa38a69.8c0594","type":"file","z":"cec27abe.c7a808","name":"Update file","filename":"./node-red/stubs/users.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1170,"y":680,"wires":[["ac8492a0.c02ea"]]},{"id":"5dd7b78c.425d58","type":"switch","z":"cec27abe.c7a808","name":"","property":"payload.err","propertyType":"msg","rules":[{"t":"eq","v":"NO_USER","vt":"str"},{"t":"eq","v":"undefined","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":660,"wires":[["8f9c8552.41b9a8"],["7aa38a69.8c0594"]]},{"id":"8f9c8552.41b9a8","type":"http response","z":"cec27abe.c7a808","name":"No User","statusCode":"422","headers":{},"x":1160,"y":640,"wires":[]},{"id":"ddf86c44.c1632","type":"http in","z":"cec27abe.c7a808","name":"Fetch User","url":"/api/users/:id","method":"get","upload":false,"swaggerDoc":"","x":80,"y":800,"wires":[["97530745.afe868"]]},{"id":"97530745.afe868","type":"function","z":"cec27abe.c7a808","name":"","func":"msg.token = msg.req.headers.authorization\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":800,"wires":[["bc14283.c8589d8"]]},{"id":"bc14283.c8589d8","type":"jwt verify on demand","z":"cec27abe.c7a808","name":"Auth","alg":["HS256"],"jwkurl":"","secret":"sdjs9fj23fj20fjsjklb3b3n3j3j3","key":"","signvar":"token","storetoken":"token","x":350,"y":800,"wires":[["5a23518e.0890b"]]},{"id":"5a23518e.0890b","type":"file in","z":"cec27abe.c7a808","name":"Data","filename":"./node-red/stubs/users.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":800,"wires":[["c069bd23.56a3d"]]},{"id":"c069bd23.56a3d","type":"json","z":"cec27abe.c7a808","name":"","property":"payload","action":"","pretty":false,"x":590,"y":800,"wires":[["971d641b.186dd8"]]},{"id":"971d641b.186dd8","type":"delay","z":"cec27abe.c7a808","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"1","randomUnits":"seconds","drop":false,"x":720,"y":800,"wires":[["9271806a.d214a"]]},{"id":"305ef4cf.23addc","type":"http response","z":"cec27abe.c7a808","name":"","statusCode":"200","headers":{},"x":1120,"y":780,"wires":[]},{"id":"9271806a.d214a","type":"function","z":"cec27abe.c7a808","name":"","func":"const id = msg.req.params.id;\n msg.payload.err = false;\nconst user = msg.payload.find(user => Number(user.id) === Number(id));\n\n\nif(!user) {\n    msg.payload.err = true;\n}\n\ndelete user.password\nmsg.payload = user;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":800,"wires":[["96ddf63d.75f0c8"]]},{"id":"96ddf63d.75f0c8","type":"switch","z":"cec27abe.c7a808","name":"","property":"payload.err","propertyType":"msg","rules":[{"t":"eq","v":"undefined","vt":"jsonata"},{"t":"neq","v":"undefined","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":800,"wires":[["305ef4cf.23addc"],["2c2b5204.c6909e"]]},{"id":"2c2b5204.c6909e","type":"http response","z":"cec27abe.c7a808","name":"No User","statusCode":"422","headers":{},"x":1120,"y":820,"wires":[]},{"id":"41cfa6ed.256358","type":"function","z":"cec27abe.c7a808","name":"","func":"msg.token = msg.req.headers.authorization\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":380,"wires":[["f10d6f44.ee87f"]]},{"id":"f10d6f44.ee87f","type":"jwt verify on demand","z":"cec27abe.c7a808","name":"Auth","alg":["HS256"],"jwkurl":"","secret":"sdjs9fj23fj20fjsjklb3b3n3j3j3","key":"","signvar":"token","storetoken":"token","x":390,"y":380,"wires":[["68134a1f.ac0544"]]},{"id":"5da6c96b.4bd338","type":"function","z":"cec27abe.c7a808","name":"","func":"msg.token = msg.req.headers.authorization\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":520,"wires":[["efaff193.1c505"]]},{"id":"efaff193.1c505","type":"jwt verify on demand","z":"cec27abe.c7a808","name":"Auth","alg":["HS256"],"jwkurl":"","secret":"sdjs9fj23fj20fjsjklb3b3n3j3j3","key":"","signvar":"token","storetoken":"token","x":350,"y":520,"wires":[["e4ecb71e.2481d8"]]},{"id":"dcc7c020.205fd","type":"function","z":"cec27abe.c7a808","name":"","func":"msg.token = msg.req.headers.authorization\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":660,"wires":[["7ca2a36c.3fb59c"]]},{"id":"7ca2a36c.3fb59c","type":"jwt verify on demand","z":"cec27abe.c7a808","name":"Auth","alg":["HS256"],"jwkurl":"","secret":"sdjs9fj23fj20fjsjklb3b3n3j3j3","key":"","signvar":"token","storetoken":"token","x":370,"y":660,"wires":[["414e95bb.14063c"]]},{"id":"51f3c8ef.52aab8","type":"function","z":"cec27abe.c7a808","name":"","func":"msg.socketIOEvent = 'refresh-users';\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"emit\", true);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":460,"wires":[[]]},{"id":"194b90aa.5e714f","type":"socket.io-on","z":"cec27abe.c7a808","name":"on connection","instance":"5df4d380.4530bc","event":"connection","namespace":"","x":120,"y":960,"wires":[["74684be7.ffef94"]]},{"id":"98a6e20c.5511c","type":"function","z":"cec27abe.c7a808","name":"","func":"const user = msg.payload.find(us => us.email === msg.token.sub);\nmsg.error = false;\n\nif(!user) {\n    msg.error = true;\n}\n\nlet connectedSocketUsers = global.get(\"ConnectedSocketUsers\");\nif(connectedSocketUsers) {\n    connectedSocketUsers.push({\n        id: user.id, socket: msg.socket, email: user.email\n    })\n}else{\n    connectedSocketUsers = [{\n        id: user.id, socket: msg.socket, email: user.email\n    }]\n}\n\nglobal.set(\"ConnectedSocketUsers\",connectedSocketUsers);\n\nmsg.socket.on('disconnect', async () => {\n    const socketIndex = connectedSocketUsers.findIndex((cUser) => cUser.socket.id === msg.socket.id);\n\n    if (socketIndex > -1) {\n        connectedSocketUsers.splice(socketIndex, 1);\n    }\n    global.set(\"ConnectedSocketUsers\",connectedSocketUsers);\n    node.warn('Client disconnected');\n});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":960,"wires":[[]]},{"id":"74684be7.ffef94","type":"function","z":"cec27abe.c7a808","name":"","func":"msg.token = msg.socket.handshake.query.token\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":960,"wires":[["d4707141.ff688"]]},{"id":"d4707141.ff688","type":"jwt verify on demand","z":"cec27abe.c7a808","name":"Auth","alg":["HS256"],"jwkurl":"","secret":"sdjs9fj23fj20fjsjklb3b3n3j3j3","key":"","signvar":"token","storetoken":"token","x":430,"y":960,"wires":[["9be148c7.25ae28"]]},{"id":"9be148c7.25ae28","type":"file in","z":"cec27abe.c7a808","name":"Data","filename":"./node-red/stubs/users.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":550,"y":960,"wires":[["4faa40c3.02881"]]},{"id":"4faa40c3.02881","type":"json","z":"cec27abe.c7a808","name":"","property":"payload","action":"","pretty":false,"x":670,"y":960,"wires":[["98a6e20c.5511c"]]},{"id":"5afab122.e1612","type":"socket.io-on","z":"cec27abe.c7a808","name":"on reconnect","instance":"5df4d380.4530bc","event":"reconnect","namespace":"","x":110,"y":1000,"wires":[["74684be7.ffef94"]]}]